<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TransportationInvoice.Properties.Login_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="strConnection" value="Data Source=NO002783\SQLEXPRESS;Initial Catalog=TransportationInvoiceDB;Persist Security Info=True;User ID=sa;Password=wbc4294@@;Connection Timeout=18000;"/>
	</appSettings>
 <userSettings>
  <TransportationInvoice.Properties.Login_Settings>
   <setting name="strVersion" serializeAs="String">
    <value>1.0.0</value>
   </setting>
   <setting name="strID" serializeAs="String">
    <value />
   </setting>
   <setting name="strCompany" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="strServerIP" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="Setting" serializeAs="String">
    <value />
   </setting>
   <setting name="Test" serializeAs="String">
    <value />
   </setting>
  </TransportationInvoice.Properties.Login_Settings>
 </userSettings>
</configuration>